= search_form_for search, url: { action: :index } do |f|
  = f.label :hall_number_eq, '　ホールを選ぶ：', class: 'modal_a_left_margin'
  -# モーダル内のchosenの初期表示幅が、include_blankの文字数になるため全角スペースで幅を稼いでいる
  = f.collection_select :hall_number_eq, hall_names(prefecture_id), :id, :name, { include_blank: '全てのホール　　　　　' }, { class: 'chosen-select' }
