.concert_info_title
  width: 130px

.concert_info_hall
  width: 100px

.concert_info_schedule
  width: 70px

.concert_info_music_title
  width: 260px

.concert_info_link
  width: 50px

.search_confirm_button
  margin-top: 10px

.container_min_width
  min-width: 500px
